#nav {
  margin: 20px;
  padding: 15px, 10px;
  display: flex;
  justify-content: space-between;
  background: #d9c9c9;
  align-items: center;
  border: solid rebeccapurple;
}

#nav .logo img {
  width: 80px;
  height: 40px;
}
#nav .ref3 {
  color: white;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
#nav .ref3 a {
  text-decoration: none;
  color: white;
}

.btn {
  background: #187125;
  color: white;
  width: 170px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}
